<div class='text-center mb-4'>
     <%= link_to 'Generuj PDF', generate_pdf_path(name: @shopping_list.plan.name, format: :pdf), class: 'btn btn-primary my-4' %>
  </div>
  <div class='container mx-5 px-5'>
  <% @ingredients_printable.each do |ingredient| %>
    <div class='mb-1 form-check'>
      <input class="form-check-input" type="checkbox" value="" checked>
      <label class="form-check-label" for="flexCheckDefault">
        <%= ingredient %>
      </label>
    </div>
  <% end %>
