<h1>Latest recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe %>
      <% if recipe.tags.any? %>
        <p><small>Tags: <%= raw recipe.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %> </small></p>
      <% end %>
    </li>
  <% end %>
</ul>
