<% if field == '' %>
  <% object.errors.full_messages.each do |message| %>
    <div class='invalid-feedback d-block' data-controller="errors">
      <%= message %>
    </div>
  <% end %>
<% else %>
  <% object.errors.full_messages_for(field).each do |message| %>
    <div class='invalid-feedback d-block' data-controller="errors">
      <%= message %>
    </div>
  <% end %>
<% end %>
