<h1>Latest recipes</h1>

<ul>
  <% @recent_recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe %>
      <% if recipe.tags.any? %>
        <small><%= render "/tags/tag_list", {recipe: recipe} %> </small>
      <% end %>
    </li>
  <% end %>
</ul>
