<div class='container mx-auto shopping-list-show'>
  <%= render(ShoppingListComponent.new(shopping_list: @shopping_list, ingredients_hash: @ingredients_hash)) %>
  <%= render "/shared/img_credit", link: "https://www.vecteezy.com/free-photos/food", text: "Food Stock photos by Vecteezy" %>
</div>
