body {
  font-family: sans-serif;
  background-color: var(--background-color);
}

:root {
  --dark-accent-color: #102c20;
  --contrast-color: rgb(201, 143, 56);
  --accent-color: rgb(139, 180, 97);
  --background-color: rgb(255, 255, 255);
}
