.dark {
  color: var(--background-color);
  background-color: var(--dark-accent-color);
}

.nav-image {
  height: 30px;
  width: 30px;
}

#header .vr {
  width: 2px;
  opacity: 0.75;
}

#header {
  background-color: var(--background-color);
}
