.add-to-favourite, .add-to-plan {
  position: absolute;
  right: 0;
  max-width: 25px;
  max-height: 25px;
  transition: transform 0.5s;
  visibility: hidden;
}

.add-to-plan {
  bottom: 0;
}

.add-to-favourite {
  top: 0;
}

.add-to-plan:hover, .add-to-favourite:hover {
  transform: scale3d(1.5, 1.5, 1.5);
}

.relative {
  position: relative;
}

.recipe-card, .recipe-card-image {
  max-height: 120px;
}

.recipe-card-image {
  object-fit: cover;
}

.relative:hover .add-to-plan, .relative:hover .add-to-favourite {
  visibility: visible;
}

body:has(.plan-index) {
  background-image: url("meal-plan-background.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;	
}

body:has(.plan-show) {
  background-image: url("plan-show-background.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;	
}

body:has(.shopping-list-show) {
  background-image: url("shopping-list-background.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;	
}

#credit {
  position: fixed;
  bottom: 0;
  right: 5%;
  text-align: right;
}
