<%= turbo_frame_tag "modal" %>

<h1>Moje plany posiłków</h1>

<%= link_to "Nowy plan", new_plan_path, data: { turbo_frame: "modal" }, class: "btn btn-primary" %>

<% @plans.each do |plan| %>
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= plan.name %></h5>
      <%= link_to "Zobacz", plan, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
